.home {
  margin: 0;
  border: 0;
  outline: 0;
  background-color: #ffffff !important;
}
.flex-home-main-container {
  padding: 50px 200px 0px 200px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.home-main-container {
  position: relative;
  width: 575px;
  height: 70vh;
  border: 0;
  outline: 0;
  box-shadow: 0;
  background-color: #ffffff;
  margin: 0 auto 35px auto;
  text-align: center;
}
.home-secondary-container {
  position: relative;
  width: 800px;
  border: 0;
  outline: 0;
  box-shadow: 0;
  background-color: #ffffff;
  margin: 0 auto 35px auto;
  text-align: center;
}
.home-main-intro {
  font-size: 125%;
  font-weight: 300;
  margin-bottom: 25px;
  white-space: pre-wrap;
}
.home-main-bold {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 50px;
}
.home-main-body {
  font-size: 125%;
  font-weight: 300;
}
.home-main-header {
  padding-top: 65px;
  font-size: 400%;
  font-weight: 600;
  line-height: 1.2;
  font-family: sans-serif;
  color: #364237;
}
.home-main-secondary {
  padding-top: 65px;
  font-size: 218%;
  font-weight: 600;
  line-height: 1.2;
  font-family: sans-serif;
  color: #364237;
}
.home-main-secondary:after {
  content: "";
  margin: 20px auto 0;
	display: block;
	height: 4px;
	width: 40px;
	background-color: #6195ff;
	margin-top: 20px
}
.brand-icon {
  width: 50px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  color: #364237;
}
.brand-icon:hover {
  color: gray;
}
.brand-icon-small {
  width: 25px;
  margin-left: 5px;
  height: auto;
  color: #364237;
}
.brand-icon-large {
  width: 60px;
  height: auto;
  color: #364237;
}
.home-main-image-container {
  position: relative;
  max-width: 650px;
  border: 0;
  outline: 0;
  box-shadow: 0;
  background-color: #ffffff;
  margin: 0 auto 35px auto;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.home-main-image-credit {
  color: rgb(108, 117, 125);
}
.home-main-feature-container {
  width: 800px;
  height: auto;
  text-align: center;
  border: 0;
  outline: 0;
  box-shadow: 0;
  background-color: #ffffffcc;
  padding: 150px 50px 50px 50px;
  margin: auto;
}
.email-form-container {
  width: 400px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.email-form-input {
  width: 250px;
  margin-right: 5px;
}
.email-form-button {
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0px 10px 0px 10px;
}
.email-form-success-message {
  color: #28a745;
  margin-left: 5px;
}
.input-label {
  margin-top: 5px;
  margin-bottom: 0px;
}
.landing-image {
  margin-left: auto;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.community-image {
  width: 650px;
  height: auto;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}
.footer-item {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  font-size: 12px;
  font-weight: 300;
  color: rgb(108, 117, 125);
}
.credit-link {
  position: absolute;
  bottom: 0;
  right: 0;
}
body {-webkit-text-size-adjust:100%;}
@media only screen and (max-width: 60em) {
  .home {
    max-width: 320px;
  }
  .flex-home-main-container {
    max-width: 99vw;
    width: 99vw;
    padding: 100px 0px 0px 0px;
    align-items: center;
    justify-content: center;
  }
  .home-main-container {
    max-width: 91vw;
    width: 91vw;
    text-align: center;
  }
  .home-secondary-container {
    max-width: 91vw;
    width: 91vw;
    text-align: center;
  }
  .email-form-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 91vw;
  }
  .email-form-input {
    max-width: 50vw;
    width: 50vw;
  }
  .email-form-button {
    white-space: nowrap;
  }
  .home-main-image-container {
    text-align: center;
  }
  .community-image {
    width: 91vw;
  }
}